body {
    background-color: rgb(119, 171, 201);
}

#quote-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 10px;
}

#text {
    font-size: 28px;
    color: #0e69e0;
}

#author {
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}
.badge {
    margin: 5px;
    background-color: #2980f3;
}
#tweet-quote, #tumblr-quote {
    height: 32px;
    width: 30px
}

#new-quote {
    margin: 5px;
    font-weight: bold;
}

.badge:hover {
    background-color: #0e69e0;
    transform: scale(1.1);
}
#new-quote:hover {
    transform: scale(1.1)
}
#new-quote:focus {
    outline: none;
}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) {
    #quote-box {
        width: 60%;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 992px) {
    #quote-box {
        width: 50%;
    }
}